$color-primary: rgb(13, 110, 253);
$color-background: rgb(21, 21, 21);
$color-background-inner: rgb(41, 41, 41);
$color-font: rgb(153, 153, 153);
$color-font-inner: rgb(253, 253, 253);
$color-font-link: rgb(27, 149, 224);
$color-border: rgb(74, 74, 74);
$color-icon: rgb(153, 153, 153);
$color-icon-active: rgb(230, 230, 230);